body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 350%;
}

.center{
    text-align: center;
}
.orange{
    color: #ffad5a;
}

.red{
    color: #ff5959;
}

.white{
    color: whitesmoke;
}

.all-button{
    text-decoration: none;
    background-color: #ff5959;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 15px;
}

.flex{
    display: flex;
    margin-bottom: 25px;
}

.hlf{
    width: 50%;
    padding-left: 15%;
    padding-top: 2.5%;
}

.hlf img{
    width: 50%;
}

.diff{
    width: 20%;
}

.f-box{
    background-color: #edf5f6;
    margin-left: 15%;
    margin-right: 2%;
    padding-left: 2%;
    border-radius: 15px;
    
}

.s-box{
    background-color: #ffeeee;
    margin-right: 2%;
    padding-left: 2%;
    border-radius: 15px;
}

.t-box{
    background-color: #fff4d6;
    margin-right: 2%;
    padding-left: 2%;
    border-radius: 15px;
}

.illus{
    width: 50%;
}

.pic{
    width: 50%;
    height: 0%;
}

.code-section{
    width: 50%;
    padding-top: 2.5%;
}

.code-section img{
    padding-left: 30%;
    width: 50%;
}

.develop-margin{
    margin-right: 20%;
}

.third-section{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position-y: 40%;
    background-position-x: 10%;
}

.fourth-section{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-y: 95%;
    background-position-x: 85%;
    height: 450px;
}

.fifth-section{
    margin-top: 5%;
}

.sixth-section{
    background-color: bisque;
    background-image: url(images/shapes/shape-2.png);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position-y: 60%;
    background-position-x: 15%;
    margin-bottom: -0.25%;
}

.develop-section{
    width: 50%;
    padding-top: 2.5%;
    padding-left: 15%;
}

.develop-section img{
    width: 50%;
}

.container {
  background-color: rgb(121, 104, 104);
  margin-left: 15%;
  margin-right: 13%;
  border-style: inset;

}

.skills {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.html {width: 95%; background-color: #da995c;}
.css {width: 90%; background-color: #7c1820;}
.js {width: 80%; background-color: #ff5959;}
.python {width: 75%; background-color: #808080;}
.c {width: 55%; background-color: #b44343;}
.matlab {width: 35%; background-color: #4e2a2a;}

.lang-name{
    text-align: center;
}

.contact{
        width: 50%;
        padding-top: 2.5%;
        padding-left: 15%;
}

hr{
    margin-top: 5%;
    border: 5px solid #ffad5a;
    border-radius: 5px;
  }

.input-box{
      padding: 0.5%;

  }

  .submit-button{
    text-decoration: none;
    margin-left: 5%;
    background-color: #ff5959;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 15px;
}

.bor-des{
    border-radius: 0.5%;
    margin-right: 10%;
    border-left: 2px solid #ff5959;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}